#header {
  border-bottom: 1px solid #444C56;
}

#last-modified {
  padding-left: 10px;
}

html {
  background: #22272E;
  margin: 0;
  padding: 0;
}

body {
  font: 14px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  color: #ADBAC7;
  width: auto;
  max-width: 920px;
}

body > *:first-child {
  margin-top: 0 !important;
}
body > *:last-child {
  margin-bottom: 0 !important;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #ADBAC7;
}

h2 {
  font-size: 24px;
  margin: 20px 0 10px;
  color: #ADBAC7;
  border-bottom: 1px solid #444C56;
}

h3 {
  font-size: 18px;
  margin: 20px 0 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 10px;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px;
}

h6 {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px;
}

hr {
}

p {
  margin: 15px 0; 
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

.highlight pre, pre {
  background-color: #2D333B;
  border: 1px solid #2D333B;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 6px 10px;
}

code {
  white-space: nowrap;
  border: 1px solid #2D333B;
  background-color: #3c434d;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 2px;
  padding: 0 5px;
}

pre code
{
  white-space: pre;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

a, a code {
  color: #539BF5;
  text-decoration: none;
}

blockquote
{
  border-left: 4px solid #444C56;
  padding: 0 15px;
  color: #768390;
  margin: 15px 0;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

table
{
  font-size: 14px;
  border-collapse: collapse;
  margin: 20px 0 0;
  padding: 0;
}

table tr
{
  background-color: #22272E;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n)
{
  background-color: #2D333B;
}
table tr th[align="center"], table tr td[align="center"] {
  text-align: center;
}
table tr th[align="right"], table tr td[align="right"] {
  text-align: right;
}
table tr th, table tr td
{
  border: 1px solid #444C56;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

ul, ol
{
  margin: 15px 0;
}

ul li, ol li
{
  margin-top: 7px;
  margin-bottom: 7px;
}

dl {
  padding: 0;
}
dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
dl dt:first-child {
  padding: 0;
}
dl dt > :first-child {
  margin-top: 0;
}
dl dt > :last-child {
  margin-bottom: 0;
}
dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
dl dd > :first-child {
  margin-top: 0;
}
dl dd > :last-child {
  margin-bottom: 0;
}
img {
  max-width: 100%;
}

.shadow {
  -webkit-box-shadow: 0 5px 15px #000;
  -moz-box-shadow: 0 5px 15px #000;
  box-shadow: 0 5px 15px #000;		
}

input[type="checkbox"] + label {
  margin-left: 0.5ex;
}

@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:0 auto;
    }
}
@media print {
  table, pre {
    page-break-inside: avoid;
  }
}

/*
   highlight.js
   https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html
   NOTE: we don't use '@import' as the css needs to be copied next to
   the generated HTML, this css is already copied by previm
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #ADBAC7;
  background: #2D333B;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-quote,
.diff .hljs-header,
.hljs-javadoc {
  color: #768390;
  font-style: italic;
}

.hljs-list,
.hljs-subst,
.hljs-operator,
.hljs-keyword {
  color: #F47067;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #6CB6FF;
  /* color: #008080; */
}

.hljs-hexcolor,
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #6CB6FF;
  /* color: #008080; */
}

.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #F48FB1;
}
.hljs-string,
.hljs-doctag {
  color: #96D0FF;
  /* color: #7fdbca; */
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #fc514e;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #6CB6FF;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;

.hljs-chunk {
  color: #aaa;
}
